/* --- RESET PADRÃO DOS NAVEGADORES --- */
html, body, div, span, h1, h2, h3, p, img, main, header, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

input, button {
    font-family: inherit;
}